<?xml version="1.0"?>
<configuration>
  <appSettings>
   
  </appSettings>
  <!-- default settings (copy <add ... /> to appSettings)-->
  <!-- Votes to skip-->
  <!--<add key="votesToSkip" value="4"/>-->
  <!-- Path to cache directory-->
  <!--<add key="cacheDir" value="C:\temp\jukebox\"/>-->
  <!-- Use default recording device-->
  <!--<add key="useDefaultDevice" value="true"/>-->
  <!-- Id of non-default recording device-->
  <!--<add key="deviceId" value=""/>-->
  <!-- Host-->
  <!--<add key="host" value="net.tcp://localhost:4502"/>-->
  <!-- Use socket policy server-->
  <!--<add key="sspb" value="true"/>-->
  <!-- VKLogin-->
  <!--<add key="vkLogin" value="antoshalee@gmail.com"/>-->
  <!-- VKPassword-->
  <!--<add key="vkPassword" value="kvitunov"/>-->
  <!-- Initial action points-->
  <!--<add key="initialActionPoints" value="4"/>-->
  <!-- Time to restore action points (in ms)-->
  <!--<add key="actionPointsRestoreTime" value="600000"/>-->
  <!-- Timeout for downloading-->
  <!--<add key="downloadTimeout" value="60000"/>-->
  <!-- Play track from cache randomly-->
  <!--<add key="playRandomFromCache" value="true"/>-->
 </configuration>